.myScroll .scroll{
  width: 40px;
  height: 40px;
  color: var(--primary);
  margin: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
 
}

.scroll-icon{
  font-size: 14px;

}
.myScroll{
  position: fixed;
  right: 7px;
  bottom: 7px;
  width: 150px;
  height: 30px;
  background: var(--secondary);
}


